html {
  box-model: border-box;
}

h1, h2 {
  font-family: 'pf_din_text_comp_probold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3px;
}

h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

h2 {
  font-size: 1.2rem;
  margin-top: .5em;
}

body {
  padding: 0px;
}
.content {
  margin: 20px;
}

.student {
  border-top: 15px solid black;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.profile-box {
  flex: 1 0 50px;
  background-color: #FED606;


}

.profile-box > img {
  width: 100%;
}

.profile-box > p {
  border-bottom: 2px solid #E5C829;
  margin: 0px;
  padding: 10px;
  font-size: 1.5rem;
}

.detail-box {
  display: flex;
  flex: 2;
  flex-flow: row wrap;
}

.detail > p {
  margin-top: 0px;
  line-height: 1.2em;
}

.title {
  flex: 1 100%;
}


.detail {
  flex: 1 250px;
  margin: 10px;
  margin-left: 0px;
}
